/*!
 * Global vars
 */

$text-color: #3F3F3F;
$body-color: #faf9f7;

$font-family: 'Source Sans Pro', sans-serif;
$font-size: 16px;

$primary-color: #7BAE73;
$secondary-color: #FF8484;
$mute-color: #B4B4B4;